div {background-color: brown;
text-align: center;
color: rgb(0, 0, 0);
}
p {
background-color: blanchedalmond;
color: orangered;
width: 500px;
text-align: Left;
margin-left: auto;
margin-right: auto;
}
img{border-radius: 20%;}
ul {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}